In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/AB_NYC_2019.csv')
data

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [ ]:
print(data.head())

     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0         NaT
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2               0.72                               1               365
3               4.64                               1               194
4               0.10                               1                 0

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 48357 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48357 non-null  int64
 1   name                            48342 non-null  object
 2   host_id                         48357 non-null  int64
 3   host_name                       48336 non-null  object
 4   neighbourhood_group             48357 non-null  object
 5   neighbourhood                   48357 non-null  object
 6   latitude                        48357 non-null  float64
 7   longitude                       48357 non-null  float64
 8   room_type                       48357 non-null  object
 9   price                           48357 non-null  int64
 10  minimum_nights                  48357 non-null  int64
 11  number_of_reviews               48357 non-null  int64
 12  last_review                     38550 non-null  datetime64[ns]
 13  reviews_per_month               48357 non-null  float64
 14  calculated_host_listings_count  48357 non-null  int64
 15  availability_365                48357 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.3+ MB
None

In [ ]:
# 1. Remove duplicates
data = data.drop_duplicates()

In [ ]:
# 2. Check and handle missing values
# View missing values
missing_values = data.isnull().sum()
# Replace 'target_column' and 'some_column' with actual column names from your data
# Example: Drop rows with missing 'price' values, or fill missing values in 'reviews_per_month'
# Assuming 'price' is your target column and 'reviews_per_month' has missing values
data = data.dropna(subset=['price'])  # Replace 'price' with your actual target column name
data['reviews_per_month'] = data['reviews_per_month'].fillna(data['reviews_per_month'].median())  # Replace with your actual column name

In [ ]:
# 3. Convert data types if needed
# Example: Convert date column to datetime
# Assuming you have a 'last_review' column with dates
data['last_review'] = pd.to_datetime(data['last_review'])  # Replace 'last_review' with your actual date column name

In [ ]:
# 4. Handle outliers
# Example: Remove outliers in numeric data based on z-score
from scipy import stats
import numpy as np # Import numpy and assign it to the alias 'np'
# Assuming 'minimum_nights' is a numeric column with potential outliers
data = data[(np.abs(stats.zscore(data['minimum_nights'])) < 3)]  # Replace 'minimum_nights' with your actual numeric column name

In [ ]:
# 5. Standardize formats for categorical data
# Assuming you have a 'neighbourhood_group' column with categorical data
data['neighbourhood_group'] = data['neighbourhood_group'].str.lower().str.strip()  # Replace 'neighbourhood_group' with your actual categorical column name

# Display cleaned data
print(data.head())

     id                                              name  host_id  \
0  2539                Clean & quiet apt home by the park     2787
1  2595                             Skylit Midtown Castle     2845
2  3647               THE VILLAGE OF HARLEM....NEW YORK !     4632
3  3831                   Cozy Entire Floor of Brownstone     4869
4  5022  Entire Apt: Spacious Studio/Loft by central park     7192

     host_name neighbourhood_group neighbourhood  latitude  longitude  \
0         John            brooklyn    Kensington  40.64749  -73.97237
1     Jennifer           manhattan       Midtown  40.75362  -73.98377
2    Elisabeth           manhattan        Harlem  40.80902  -73.94190
3  LisaRoxanne            brooklyn  Clinton Hill  40.68514  -73.95976
4        Laura           manhattan   East Harlem  40.79851  -73.94399

         room_type  price  minimum_nights  number_of_reviews last_review  \
0     Private room    149               1                  9  2018-10-19
1  Entire home/apt    225               1                 45  2019-05-21
2     Private room    150               3                  0         NaT
3  Entire home/apt     89               1                270  2019-07-05
4  Entire home/apt     80              10                  9  2018-11-19

   reviews_per_month  calculated_host_listings_count  availability_365
0               0.21                               6               365
1               0.38                               2               355
2               0.72                               1               365
3               4.64                               1               194
4               0.10                               1                 0

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 48148 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48148 non-null  int64
 1   name                            48133 non-null  object
 2   host_id                         48148 non-null  int64
 3   host_name                       48127 non-null  object
 4   neighbourhood_group             48148 non-null  object
 5   neighbourhood                   48148 non-null  object
 6   latitude                        48148 non-null  float64
 7   longitude                       48148 non-null  float64
 8   room_type                       48148 non-null  object
 9   price                           48148 non-null  int64
 10  minimum_nights                  48148 non-null  int64
 11  number_of_reviews               48148 non-null  int64
 12  last_review                     38404 non-null  datetime64[ns]
 13  reviews_per_month               48148 non-null  float64
 14  calculated_host_listings_count  48148 non-null  int64
 15  availability_365                48148 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 6.2+ MB
None